{% extends "blog/base.html" %}

{% block title %}WAMI{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.microorganism }}
                </a>
            </h2>
            {{ post.text|linebreaks|truncatewords:10 }}
            <p class="date">
                Puclicado em {{ post.created }} por {{ post.author }}
            </p>
        </article>
    {% endfor %}
{% endblock %}
